* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: sans-serif;
 }


.header {
    background-color:white ;
}

.navbar .titulo {
    display: flex;
    align-items: flex-start;
    text-decoration: none;
    /* sacar el link (subrayado) */
        padding: 20px;
        text-align: left;
        flex-direction: row;

 }
 section {
    background:  rgb(230, 223, 223);
    height: auto;
    margin-right: 5px;
    width: 1350px;
}

.info{
    color: black;
    text-align: center;
    font-size:x-large;
    font-weight: 800;
    font-family:'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    
}

.info .info-1 {
    font-size: medium;
    text-decoration: none;
    list-style: none;
}

.header{
    background-color: grey;
}


 .navbar .titulo h1{
     color: black;
     font-family:'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    font-weight: bold;
 }
 
 .negrita { 
    font-size: bold;
 }
    
    

.navbar-ul {
    list-style: none;
    display: flex;
    /* sacar las viñetas (puntitos) */
    justify-content: flex-end;
    margin margin-top: 15px;
}

.social {
    list-style: none;
    display: flex;
    justify-content: space-around;
    margin-left: 20%;
    margin-right: 20%;
    margin-top: 80px;

}



.navbar-a {
    text-decoration: none;
    color: white;
    border-radius: 10px;
    margin-right: 20px;
    border: 1px solid black;
    padding: 5px;
    border-radius: 20px;
    background-color: white;
    background-color: black;
    border: 2px solid white;
}



/* cuando estoy con el mouse arriba del elemento */
.navbar-a:hover {
    color: white;
    filter: invert(1);

}


.borrar{
    padding: 5px;
    border-radius: 300px;
    color: red;

}

.seccion-2 .tipos:hover{
color:black;
background-color: white;
}


.info{
   
    text-align: center;
    font-size:x-large;
    font-weight: 500;
    font-family: initial; 

}
.info .info1{
    font-size: medium;
    text-decoration:underline;
}

.fotoo {
    cursor: pointer;
    border: 5px solid black;
    transition-property: width;
    transition-duration: 2s;
    
    }
    
.container-queen .fotoo:hover {
    width: 300px;
    height: 400px;
    }

.navbar h1 {
    color: black;

}

.container-queen {
    background-color: white;
    display: flex;
    padding: 10px;
    flex-direction: row;
    flex-wrap: nowrap;
    gap: 5px;
    /* espacio entre img */
    border: solid 8px black;
    justify-content: space-between;
    align-content: flex-start;
    align-items: flex-start;

}

.container-queen img {
    width: auto;
    /* ancho */
    height: 260px
    /* alto */

}

footer {
    background-color: #dcdcdc;
    text-align: center;
    font-style: 400px;
 }
     

 footer .texto{
     font-weight: 50px;
 }

.informacion {
    text-align: center;
    font-size: bold;
}

.iconos-rs {
    margin-right: 5px;
    height: 5px;
    width: 10%;
}




